body {
    background-image: url("../images/flag_on_wall1.jpeg");
    margin-left: 10%;
    margin-right: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(76, 175, 80, 0.7); /* Semi-transparent green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(69, 160, 73, 0.7); /* Semi-transparent darker green on hover */
}

.description {
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}
